<div class="row">
    <div class="col-md-12 position-relative video-container">
        <div class="amh-box2">
            <h1 class="aboutH12" class="mt-5 ml-5">Welcome to our world of exploration and adventure!</h1>
        </div>
        <video id="backgroundVideo" class="video-jq9" autoplay loop muted playsinline>
            <source src="/aboutpage.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>

<div class="container">
        <h2 class="aboutText2" class="mt-5">We are Gabriel and Daniel, a dynamic duo fueled by curiosity and driven by the thrill of the unknown. Together, with the occasional helping hand from fellow enthusiasts, we embark on daring expeditions into the realms of the supernatural and the mysterious.</br></br>   Our journey began as a simple quest—to seek out the truth behind the legends, to unravel the mysteries that shroud the unseen. With nothing more than our wits and an insatiable curiosity, we set out to explore the uncharted territories of the paranormal.</br></br>  we are not your typical ghost hunters or cryptid chasers. We are just a couple of bored guys who found solace in the excitement of exploration. Our passion for the unknown drives us to push the boundaries, to venture into the darkness where others fear to tread.</br></br>

        We want you to know that we are an indie group, operating on a shoestring budget and fueled solely by our passion for discovery. We do this not for fame or fortune, but simply because we love what we do. Every investigation, every encounter, is a testament to our dedication and commitment to the pursuit of truth.</br></br>
        
        So join us on our journey as we delve into the depths of the supernatural, as we seek answers to age-old questions, and as we continue to explore the world around us with wide-eyed wonder and unbridled enthusiasm. Welcome to the adventure! ps. most of this we have done as a school project.</h2>
    </div>