<div id="chat-container" class="container mt-4">
    <div id="container" class="row">
        <div class="col-12 col-md-6">
            <h1>{{form.name}}</h1>
            <h2>{{form.description}}</h2>
        </div>
    </div>
</div>
<div class="divider"></div>
<from action="" method="get" class="addItems" id="addItemsB">
    <input type="file" id="videoInput" />
    <button onclick="document.getElementById('videoInput').click();"><i class="fa-solid fa-upload"></i> Upload from computer</button>
</from>
<div class="emojilist" id="emojis">
    <input type="text" id="emojiSearch">
    <ul id="emojilistElement">
    </ul>
</div>
<div class="chat-input mt-5 mb-4">
    <button id="uploadButton"><i class="fa-solid fa-plus"></i></button>
    <button class="icons" id="emojisButton"><i class="fa-regular fa-face-smile"></i></button>
    <div id="m-in" class="editable" placeholder="Type something..." contenteditable="true"></div>
    <button class="send" onclick="sendMessage()"><i class="fa-solid fa-paper-plane"></i></button>
</div>
