<body>
    <div class="container">
        <h1>Create a Form!</h1>
        <form action="/form/create" method="POST" class="form">
            <label for="formname">Form Name:</label>
            <input type="text" name="formname" id="formname" placeholder="Enter form name" required />

            <label for="firstmessage">First Message:</label>
            <input type="text" name="firstmessage" id="firstmessage" placeholder="Enter the first message" required />

            <label for="formdescription">Form Description:</label>
            <textarea id="formdescription" name="formdescription" placeholder="Enter form description" required></textarea>

            <label for="formtags">Form Theme:</label>
            <input type="text" name="formtags" id="formtags" placeholder="e.g. Haunted House, Paranormal Investigation" required />

            <button type="submit">Enter</button>
        </form>
    </div>
</body>
