<div class="row">
    <div class="col-md-12 position-relative video-container">
        <div class="overlay"></div>
        <div class="form-mh-box">
            <h1 id="FormHeader" class="mt-5 ml-5">Find the Answers</h1>
            <div class="search-box">
                <div class="rowF">
                    <input type="text" id="input-box" placeholder="Ghosts, Spirits, Hauntings, etc.." autocomplete="off"><button onclick="search()" class="buttonF"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="result-box"></div>
            </div>
        </div>
        <video id="backgroundVideo" class="video-jq9" autoplay loop muted playsinline>
            <source src="/formbg3.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>

<div class="container">
    <div class="fbb"></div>
    <div class="row">
        <div class="scroll-container" onclick="window.location='/users'">
            <div class="fill"></div>
            <h1>My Profile</h1>
            <p>Access your personal 
            settings, manage your 
            account, and explore 
            your activity
            </p>
            <div class="col text-end">
                <video class="fbv2" autoplay muted playsinline>
                    <source src="/add2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="scroll-container" onclick="window.location='/users/login'">
            <h1>Sign In and Join Us</h1>
            <p>Sign in to access your 
            account and join the 
            community
            </p>
            <div class="col text-end">
                <video class="fbv2" autoplay muted playsinline>
                    <source src="/login.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="scroll-container" onclick="window.location='/users/register'">
            <h1>Register Now</h1>
            <p>Join the conversation and 
            register now
            </p>
            <div class="col text-end">
                <video class="fbv2" autoplay muted playsinline>
                    <source src="/register.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>

<div class="divider3"></div>


<div class="container">
<button type="button" class="button" onclick="window.location='/form/create'">
  <span class="button__text">Create</span>
  <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
</button>
  <div class="row" id="formsContainer"></div>
  <div id="loadingIndicator">
    <div class="skeleton">
        <div class="skeleton-side"></div>
    </div>
  </div>
</div>
