<div class="row">
    <div class="col-md-12 position-relative video-container">
        <div class="overlay"></div>
        <div class="form-mh-box">
            <h1 id="FormHeader" class="mt-5 ml-5">Find the Answers</h1>
            <div class="search-box">
                <div class="rowF">
                    <input type="text" id="input-box" placeholder="Ghosts, Spirits, Hauntings, etc.." autocomplete="off"><button class="buttonF"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="result-box"></div>
            </div>
        </div>
        <video id="backgroundVideo" class="video-jq9" autoplay loop muted playsinline>
            <source src="/formbg3.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>

<div class="container">
    <div class="fbb"></div>
    <div class="row">
        <div class="scroll-container" onclick="window.location='/users'">
            <div class="fill"></div>
            <h1>My Profile</h1>
            <p>Access your personal 
            settings, manage your 
            account, and explore 
            your activity
            </p>
            <div class="col text-end">
                <video class="fbv2" autoplay muted playsinline>
                    <source src="/add2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="scroll-container" onclick="window.location='/users/login'">
            <h1>Sign In and Join Us</h1>
            <p>Sign in to access your 
            account and join the 
            community
            </p>
            <div class="col text-end">
                <video class="fbv2" autoplay muted playsinline>
                    <source src="/login.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="scroll-container" onclick="window.location='/users/register'">
            <h1>Register Now</h1>
            <p>Join the conversation and 
            register now
            </p>
            <div class="col text-end">
                <video class="fbv2" autoplay muted playsinline>
                    <source src="/register.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>

<div class="divider3"></div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="formbtn">
        <div class="formbtn-side">
            <h1>Alex Smith</h1>
            <h2>alex.smith@example.com</h2>
            <p>Exploring the mysteries 
                of the unknown, one 
                conversation at a time.
            </p>
        </div>
        <div class="formbtText">
            <h1>Haunted Locations</h1>
            <p>Join discussions about infamous haunted 
                locations, share personal experiences, and uncover 
                the secrets behind paranormal hotspots.
            </p>
            <h2>hunting,paranormal,stories</h2>
            <img class="LOGOFORM" src="/alexSmith.jpg" alt="LOGO">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="formbtn">
        <div class="formbtn-side">
            <h1>Sophia Garcia</h1>
            <h2>sophia.garcia@example.com</h2>
            <p>Curious explorer of the 
              unexplained, ready to 
              delve into the world of mysteries.
            </p>
        </div>
        <div class="formbtText">
            <h1>Psychic Readings</h1>
            <p>Connect with others interested in psychic 
              phenomena, share experiences with readings, and 
              explore the realms of intuition and 
              extrasensory perception.
            </p>
            <h2>hunting,paranormal,stories</h2>
            <img class="LOGOFORM" src="/spophiaGarcia.jpg" alt="LOGO">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="formbtn">
        <div class="formbtn-side">
            <h1>Emily Davis</h1>
            <h2>emily.davis@example.com</h2>
            <p>Passionate about the 
              paranormal and eager to 
              share experiences.
            </p>
        </div>
        <div class="formbtText">
            <h1>UFO Sightings</h1>
            <p>Dive into conversations about unidentified flying 
              objects, analyze sighting reports, and speculate 
              about the possibility of alien contact.
            </p>
            <h2>hunting,paranormal,stories</h2>
            <img class="LOGOFORM" src="/emilyDavis.jpg" alt="LOGO">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="formbtn">
        <div class="formbtn-side">
            <h1>James Thompson</h1>
            <h2>james@example.com</h2>
            <p>Seeking answers in the 
              realm of the supernatural,
              open to discussing.
            </p>
        </div>
        <div class="formbtText">
            <h1>Ghost Stories</h1>
            <p>Gather around the virtual campfire to exchange 
              ghostly tales, discuss supernatural encounters, 
              and explore the mysteries of the spirit world.
            </p>
            <h2>hunting,paranormal,stories</h2>
            <img class="LOGOFORM" src="/jamesThomson.jpg" alt="LOGO">
        </div>
      </div>
    </div>
  </div>
</div>


