<div class="container mt-5">
    <form action="/users" method="post">
        <h1>First Name: </h1>
        <input type="text" id="firstName" name="firstName"><br>
        <h1>Last Name: </h1>
        <input type="text" id="lastName" name="lastName"><br>
        <button type="submit" style="background-color: #4CAF50;
                                  border: none;
                                  color: white;
                                  padding: 1vw 1.2vw;
                                  text-align: center;
                                  text-decoration: none;
                                  display: inline-block;
                                  font-size: 14px;
                                  border-radius: 0.5vw;
                                  margin: 4px 2px;
                                  transition-duration: 0.4s;
                                  cursor: pointer;">Create User</button>
    </form>
    <div class="divider2"></div>
</div>