<div class="hero">
    <div class="card">
        <label for="input-file"><img src="{{profilePicURL}}" id="profile-pic"></label>
        <h1>{{username}}</h1>
        <p>@{{toLowerCase username}}</p>
        <form action="/users/uploadProfilePic" method="POST" enctype="multipart/form-data">
            <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" name="image">
            <button type="submit">Upload</button>
        </form>
    </div>
</div>