<div class="container mt-5">
    <h1>Welcome! {{firstName}} {{lastName}}</h1>
    <form action="/users/logout" method="post">
        <input type="submit" name="Logout" value="Logout">
    </form>
    <div class="divider2"></div>
</div>