*{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #010101;
    overflow-x: hidden;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar {
    width: .9rem;
}

body::-webkit-scrollbar-thumb {
    background-color: #515152;
    border-radius: 2px;
}

body::-webkit-scrollbar-track {
    background-color: #212529;
}

h1 {
    color: #aaaaaa;
}

p {
    color: #aaaaaa;
    font-size: 1.5vw;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.6rem;
}

/*  */
.nItem {
    color: #AAAAAA;
    font-size: 2rem;
    margin-left: 3rem;
    outline: none;
}

.nItem:hover {
    color: #6C6C6C;
}

.nItem:active {
    color: #eeeeee !important;
}

.nItem:focus {
    color: #AAAAAA !important;
}

.nItem:hover {
    color: #6C6C6C;
}

.nItem:active {
    color: #eeeeee !important;
}

.nItem:focus {
    color: #AAAAAA !important;
}
/*  */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 4;
    object-fit: cover;
}

.mh-box {
    position: absolute;
    top: 15%;
    bottom: 75%;
    max-width: 50vw;
    margin-left: 6.5vw;
    z-index: 5;
}

#MainHeader {
    font-size: 7vw;
    color: #aaaaaa;
}
#MainHeader2 {
    font-size: 2vw;
    color: #888888;
}

.video-jq9 {
    position: relative;
    z-index: 3;
    width: 100%;
}

.image-and-text-container {
    display: flex;
}

.text-container {
    margin-left: 8vw;
    margin-top: 2vw;
}

.sticky-image {
    position: relative;
    top: 0;
    margin-top: 0;
}

.sticky {
    position: sticky;
    top: 0;
    margin-top: 0;
}

#MegHeader {
    font-size: 3vw;
    font-weight: bold;
    text-align: left;
}

#MegSubHeader {
    font-size: 2vw;
    color: #888888;
    font-weight: bold;
    text-align: left;
}

#MegP {
    font-size: 1.5vw;
    color: #888888;
    max-width: 36vw;
    text-align: left;
}

.Meg {
    width: 90%;
    z-index: 3;
}

/* .rounded-box {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #555555;
    color: white;
    text-align: center;
} */

.divider {
    margin-top: 20%;
}

.divider2 {
    margin-bottom: 70%;
}

.divider3 {
    margin-bottom: 2%;
}

.footer {
    background-color: #141414;
    color: #aaaaaa;
    text-align: center;
    padding: 1vw;
    padding-top: 2vw;
    font-size: 1.5vw;
    z-index: 5;
}

.amh-box {
    position: absolute;
    top: 15%;
    bottom: 75%;
    max-width: 50vw;
    margin-left: 6.5vw;
    z-index: 5;
}

.aboutH1 {
    font-size: 4rem;
    color: #aaaaaa;
}
.aboutText {
    font-size: 2rem;
    color: #888888;
}

.amh-box2 {
    position: absolute;
    top: 30%;
    bottom: 70%;
    z-index: 5;
    margin-left: 5%;
    margin-right: 5%;
}

.aboutH12 {
    text-align: center;
    font-size: 6vw;
    color: #bbbbbb;
}
.aboutText2 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2vw;
    color: #888888;
}

.form-mh-box {
    position: absolute;
    margin-top: 3vw;
    left: 33%;
    right: 30%;
    max-width: 50vw;
    z-index: 5;
}

#FormHeader {
    font-size: 4vw;
    color: #aaaaaa;
}

.search-box {
    position: absolute;
    left: -20%;
    width: 45.5vw;
    background: #EEEEEB;
    margin: 0;
    border-radius: 0.4vw;
}

.rowF {
    display: flex;
    align-items: center;
    padding: 1vw 2vw;
}

#input-box {
    flex: 1;
    height: 3vw;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 1.4vw;
    color: #333;
}

.buttonF {
    background: transparent;
    border: 0;
    outline: 0;
}

.buttonF .fa-solid{
    width: 2.3vw;
    color: #555;
    font-size: 1.8vw;
    cursor: pointer;
}

::placeholder {
    color: #555;
}

.result-box ul {
    border-top: 0.1vw solid #999;
    padding: 1.5vw 1vw;
}

.result-box ul li{
    list-style: none;
    font-size: 1.3vw;
    border-radius: 0.3vw;
    padding: 1.5vw 1vw;
    cursor: pointer;
}

.result-box ul li:hover {
    background: #e9f3ff;
}

.result-box {
    max-height: 12vw;
    overflow-y: scroll;
}

.result-box::-webkit-scrollbar {
    width: 0.25vw;
}

.result-box::-webkit-scrollbar-track {
    background: transparent;
}

.result-box::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 0.5vw;
}

.result-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fbb {
    background: #111111;
    position: absolute;
    transform: translateX(-5.7vw);
    width: 100%;
    height: 25vw;
    z-index: -1;
}

.fbv2 {
    width: 24vw;
    height: auto;
    border-radius: 2vw;
    z-index: 5;
    margin: 0;
}

.scroll-container {
    margin-left: 4.5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 24vw;
    height: 13.5vw;
    z-index: 4;
    border-radius: 2vw;
    background: transparent;
    color: #C8C8C8;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
}

.scroll-container h1 {
    position: absolute;
    margin-left: 2vw;
    margin-top: 1vw;
    font-size: 2vw;
    font-weight: 450;
}

.scroll-container p {
    position: absolute;
    margin-left: 2vw;
    margin-top: 3.5vw;
    max-width: 20vw;
    font-size: 1.3vw;
    transition: 0.5s;
}

.scroll-container:hover p {
    margin-top: 4.5vw;
}

.scroll-container:hover {
    transform: scale(1.1, 1.1);
    width: 25vw;
}

.fill {
    position: absolute;
    background: #00000073;
    width: 23.5vw;
    height: 13.5vw;
    border-radius: 2vw;
    transition: 0.3s;
}
.scroll-container:hover > .fill {
    width: 24.05vw;
}

.formbtn {
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
    background: #2C2C2C;
    width: 87vw;
    height: 20vw;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

.formbtn:hover{
    transform: scale(1.01, 1.01);
}

.formbtText h1 {
    font-size: 2vw;
    position: absolute;
    transform: translateY(-17vw);
    margin-left: 33vw;
    transition: 0.5s;
}

.formbtText h2 {
    font-size: 1.1vw;
    position: absolute;
    transform: translateY(-3.5vw);
    margin-left: 33.3vw;
    transition: 0.5s;
    color: #666666;
}

.formbtText p {
    font-size: 1.5vw;
    position: absolute;
    transform: translateY(-14vw);
    margin-left: 33vw;
    max-width: 40vw;
    transition: 0.5s;
}

.formbtn:hover > .formbtText h1{
    margin: -0.5vw;
    margin-left: 33.2vw;
}

.formbtn:hover > .formbtText h2{
    margin: -0.5vw;
    margin-left: 33.5vw;
}

.formbtn:hover > .formbtText p{
    margin: -0.5vw;
    margin-left: 33.5vw;
}

.renderer {
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
    background: linear-gradient(to right, transparent 50%, blue 50%);
    width: 87vw;
    height: 20vw;
    display: inline-block;
    cursor: pointer;
    animation: fadeInOut 1ms infinite;
}

.skeleton {
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
    background: #2C2C2C;
    width: 87vw;
    height: 20vw;
    display: inline-block;
    cursor: pointer;
}

.skeleton-side {
    display: flex;
    background: #1E1E1E;
    border-radius: 2vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 30vw;
    height: 20vw;
    display: inline-block;
}

.LOGOFORM {
    position: absolute;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    transform: translateY(-6vw);
    margin-left: 80vw;
    transition: 0.3s;
}

.LOGOFORM:hover {
    margin-left: 70.8;
    width: 4.4vw;
    height: 4.4vw;
}

.formbtText .fa-solid {
    position: absolute;
    font-size: 6vw;
    transform: translateY(-14vw);
    margin-left: 81.2vw;
    color: #3D3D3D;
    cursor: pointer;
}

.formbtText .fa-solid:hover {
    color: #878787;
}

.formbtn-side {
    display: flex;
    background: #1E1E1E;
    border-radius: 2vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 30vw;
    height: 20vw;
    display: inline-block;
}

.formbtn-side:nth-child(2) {
    margin-left: -4px;
}

.formbtn-side h1 {
    font-size: 2.2vw;
    margin: 3vw;
    margin-bottom: 1vw;
    color: #C8C8C8;
    transition: 0.5s;
}

.formbtn-side h2 {
    font-size: 1.8vw;
    margin: 3vw;
    margin-top: 0;
    margin-bottom: 1vw;
    color: #C8C8C8;
    transition: 0.5s;
}

.formbtn-side p {
    font-size: 1.5vw;
    margin: 3vw;
    margin-top: 0;
    margin-bottom: 0.5vw;
    color: #C8C8C8;
    transition: 0.5s;
}

.formbtn:hover > .formbtn-side h1{
    margin: 3.2vw;
    margin-bottom: 0.5vw;
}

.formbtn:hover > .formbtn-side h2{
    margin: 3.1vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
}

.formbtn:hover > .formbtn-side p{
    margin: 3.2vw;
    margin-top: 0.2vw;
}

.body2 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost'  , sans-serif;
    background: linear-gradient(to bottom, #04041d, #1a1926, #181818);
}

.main {
    width: 35rem;
    height: 45rem;
    background: red;
    overflow: hidden;
    background: url(bgreg.jpg) no-repeat center / cover;
    border-radius: 1rem;
    box-shadow: 0.5rem 2rem 5rem #000;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

.ulabel {
    color: #fff;
    font-size: 3rem;
    justify-content: center;
    display: flex;
    margin: 5.2rem;
    margin-bottom: 4.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.uIn {
    width: 60%;
    height: 4rem;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 1.5rem auto;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 0.70rem;
}

.uBtn {
    width: 58%;
    height: 4rem;
    margin: 10rem auto;
    justify-content: center;
    display: block;
    color: #fff;
    background-color: #29325c;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 2rem;
    outline: none;
    border: none;
    border-radius: 0.7rem;
    transition: .2s ease-in;
    cursor: pointer;
}

.uBtn:hover {
    background: #2d3967;
}

.login {
    height: 46rem;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-18rem);
    transition: .8s ease-in-out;
}

.login label {
    color: #232b4f;
    transform: scale(.7);
}

#chk:checked ~ .login {
    transform: translateY(-40rem);
}

#chk:checked ~ .login label {
    transform: scale(1);
}

#chk:checked ~ .signup label {
    transform: scale(.6);
}

.errorP {
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #dcdcdc, #ddc2c2, #7d5353);
    width: 25vw;
    height: 18vw;
    padding-bottom: 4vw;
    border-radius: 0.8vw;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 1s, opacity 1s;
}

.errorPV {
    transform: scale(1.5) translateY(20%);
    opacity: 1;
    pointer-events: auto;
}

.errorP img {
    width: 8vw;
}

.errorP h1 {
    padding-top: 1vw;
    font-size: 2vw;
    color: #000;
}

.errorP h2 {
    padding: 0.8vw;
    font-size: 1.2vw;
}

.errorP button {
    width: 58%;
    height: 3vw;
    color: #fff;
    background-color: #d50a0a;
    font-size: 1.2vw;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 0.7vw;
    cursor: pointer;
}

.errorP button:hover {
    background-color: #e50b0b;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg,#212121,#2e2e2e,#303030,#313131,#3e3e3e);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .bgbtn {
    position: absolute;
    top: 20%;
    right: 2%;
    z-index: 1;
    border: none;
    background: #2d2d48;
    border-radius: 0.2vw;
    padding: 0.2vw;
    color: #ddd;
}

.card {
    width: 30vw;
    background: #1e1e1e;
    padding: 3vw;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    border: transparent;
    box-shadow: 0vw 0.4vw 1.5vw rgba(0, 0, 0, 0.9);
}

.card h1 {
    font-weight: 500;
    color: #fff;
    font-size: 1.9vw;
}

.card p {
    margin-top: 0;
    color: #aaa;
    font-size: 1.4vw;
}

.card #profile-pic {
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    margin-top: 1vw;
    margin-bottom: 1vw;
    transition: 1s;
    cursor: pointer;
    opacity: 1;
}

.card #profile-pic:hover {
    transform: scale(0.97);
    opacity: 0.5;
}

.card input {
    display: none;
}

.card .Save,
.card .Logout {
    position: absolute;
    border: none;
    border-radius: 0.4vw;
    width: 5vw;
    height: 2vw;
    font-size: 1.2vw;
    color: #fff;
    z-index: 2;
}

.card .Save {
    background: #5ed167;
    left: 52%;
    right: 48%;
}

.card .Logout {
    background: #f13b3b;
    left: 32%;
    right: 66%;
}

#showMoreBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 55%;
    left: 45%;
    font-size: 1.2vw;
    border-radius: 0.3vw;
    background: #29325c;
    max-width: 10vw;
    min-width: 10vw;
    border: none;
    color: #ccc;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    } 50% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .card .Save,
    .card .Logout {
        font-size: 1vw;
    }
}

@media (max-width: 720px) {
    .card .Save,
    .card .Logout {
        font-size: 0.9vw;
    }
}

@media (max-width: 610px) {
    .card .Save,
    .card .Logout {
        font-size: 0.8vw;
    }
}

@media (max-width: 430px) {

    .mh-box {
        margin-bottom: calc(20px + 5vw);
    }
}

@media (max-width: 600px) {
    .form-mh-box {
        margin-top: 0;
        transform: translateY(-2vw);
    }
}

@media (max-width: 470px) {
    .errorP h2 {
        padding: 0.1vw;
    }
}

@media (max-width: 375px) {
    .main {
        width: 25rem;
        height: 35rem;
    }

    .ulabel {
        font-size: 2rem;
        margin: 4.2rem;
        margin-bottom: 2.8rem;
    }

    .uIn {
        height: 3rem;
    }

    .uBtn {
        height: 3.2rem;
        font-size: 1.4rem;
    }

    .login {
        transform: translateY(-13.5rem);
    }

    #chk:checked ~ .login {
        transform: translateY(-30rem);
    }
}

@media (max-width: 300px) {
    .form-mh-box {
        margin-top: 0;
        transform: translateY(-7vw);
    }
}

@media (max-width: 273px) {
    .main {
        width: 15rem;
        height: 25rem;
    }

    .ulabel {
        font-size: 1.5rem;
        margin: 3.2rem;
        margin-bottom: 1.8rem;
    }

    .uIn {
        height: 2rem;
        border-radius: 0.5rem;
    }

    .uBtn {
        height: 2.2rem;
        font-size: 1rem;
        border-radius: 0.6rem;
    }

    .login {
        transform: translateY(-10rem);
        border-radius: 80% / 10%;
    }

    #chk:checked ~ .login {
        transform: translateY(-22rem);
    }
}

@media (max-width: 291px) {
    .errorP button {
        transform: translateY(-20%);
    }
}

@media (max-width: 250px) {
    .form-mh-box {
        margin-top: 0;
        transform: translateY(-10vw);
    }

    .errorP h2 {
        transform: translateY(-50%);
    }

    .errorP button {
        transform: translateY(-100%);
    }
}

@media (max-width: 990px) {
    .Meg {
        width: 100%;
        z-index: 3;
    }
    .text-container {
        margin-left: 5%;
        margin-right: 50%;
        align-self: center;
        text-align: center;
    }
  }